# Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the MIT License.  See License in the project root for license information.
# contains an end to end validation pipeline using C# compilation tests for staging beta metadata
name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
trigger:
  branches:
    include:
      - master
  paths:
    include:
      - schemas/*.csdl
pr: none

resources:
  repositories:
  - repository: typespec-msgraph
    type: github
    endpoint: microsoftgraph (22)
    name: microsoftgraph/typespec-msgraph
    ref: main
  - repository: typespec-msgraph-reference
    type: git
    name: typespec-msgraph-reference
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
variables:
  BuildConfiguration: 'Release'
  scriptsDirectory: '$(Build.SourcesDirectory)\.azure-pipelines\scripts'

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    settings:
      networkIsolationPolicy: Permissive
    sdl:
      sourceRepositoriesToScan:
        exclude:
        - repository: typespec-msgraph
        - repository: typespec-msgraph-reference
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      vmImage: windows-latest
    stages:
    - stage: build_reference_tool
      dependsOn: []
      jobs:
        - job: buildReferenceTool
          displayName: "Build Reference Lib Artifact"
          templateContext:
            outputs:
            - output: pipelineArtifact
              targetPath: '$(Build.ArtifactStagingDirectory)'
              artifactName: typespec-reference-tool
          steps:
          - task: UseDotNet@2
            displayName: 'Use .NET 10'
            inputs:
              version: 10.x
          - checkout: typespec-msgraph-reference
            displayName: checkout typespec-msgraph-reference
            fetchDepth: 1
              # Install the nuget tool
          - task: NuGetToolInstaller@1
            displayName: 'Install Nuget dependency manager'
            inputs:
              versionSpec: '>=5.2.0'
              checkLatest: true

          - task: NuGetAuthenticate@1

          # Restore dependencies
          - task: DotNetCoreCLI@2
            displayName: 'Restore dependencies'
            inputs:
              command: restore
              projects: '$(Build.SourcesDirectory)\typespec-msgraph-reference.sln'

          # Build the solution
          - task: DotNetCoreCLI@2
            displayName: 'Build solution'
            inputs:
              command: build
              projects: '$(Build.SourcesDirectory)\typespec-msgraph-reference.sln'
              arguments: '--configuration $(BuildConfiguration) --no-incremental'
          - task: CopyFiles@2
            inputs:
              sourceFolder: '$(Build.SourcesDirectory)/bin/$(BuildConfiguration)/net10.0'
              contents: '**/*'
              targetFolder: '$(Build.ArtifactStagingDirectory)'
            displayName: Copy Typespec Reference executable
    - stage: generate_reference_lib
      dependsOn: [build_reference_tool]
      jobs:
        - job: generateLibraryFiles
          displayName: "Generating reference library"
          templateContext:
            inputs:
            - input: pipelineArtifact
              buildType: 'current'
              artifactName: typespec-reference-tool
              targetPath: '$(Build.ArtifactStagingDirectory)/typespecReferenceTool'
            outputs:
            - output: pipelineArtifact
              targetPath: '$(Build.ArtifactStagingDirectory)/lib'
              artifactName: referenceLibrary
          steps:
            - checkout: self  # Add this to checkout msgraph-metadata repo
              displayName: checkout msgraph-metadata
              fetchDepth: 1
            - task: CopyFiles@2
              inputs:
                sourceFolder: $(Build.ArtifactStagingDirectory)/typespecReferenceTool
                contents: '**/*'
                targetFolder: '$(Build.SourcesDirectory)/typespecReferenceTool'
              displayName: "Validate artifact and list contents"
            - pwsh: '$(Build.SourcesDirectory)/.azure-pipelines/scripts/process-all-schemas.ps1 -ExePath $(Build.SourcesDirectory)/typespecReferenceTool/typespec-msgraph-reference.exe'
              displayName: "Process all the valid schemas files"
            - task: CopyFiles@2
              inputs:
                sourceFolder: '$(Build.SourcesDirectory)/generated-lib/'
                contents: '**/*'
                targetFolder: '$(Build.ArtifactStagingDirectory)/lib'
    - stage: update_reference_lib
      dependsOn: [generate_reference_lib]
      jobs:
        - job: update_reference_lib
          displayName: "Create PR to update the typespec-msgraph reference lib"
          templateContext:
            inputs:
            - input: pipelineArtifact
              buildType: 'current'
              artifactName: 'referenceLibrary'
              targetPath: '$(Build.ArtifactStagingDirectory)/tmp_lib'
          steps:
            - checkout: self  # Add this to checkout msgraph-metadata repo
              displayName: checkout msgraph-metadata
              path: msgraph-metadata
              fetchDepth: 1
            - checkout: typespec-msgraph
              displayName: checkout typespec-msgraph
              fetchDepth: 1
              persistCredentials: true
            - pwsh: |
                git config --global user.email "GraphTooling@service.microsoft.com"
                git config --global user.name "Microsoft Graph DevX Tooling"
              displayName: 'Git: set user config'           
            - pwsh: |
                $dummyFilePath = "$(Build.SourcesDirectory)/typespec-msgraph/test-pr-generation.txt"
                $timestamp = Get-Date -Format "yyyy-MM-dd HH:mm:ss"
                "This is a test file created at $timestamp to verify PR generation" | Out-File -FilePath $dummyFilePath -Encoding UTF8
                Write-Host "Created dummy file at: $dummyFilePath" -ForegroundColor Green
              displayName: 'Create dummy test file'            # Copy files from the tmp folder to the checkout repo
            - task: CopyFiles@2
              inputs:
                sourceFolder: '$(Build.ArtifactStagingDirectory)/tmp_lib'
                contents: '**/*'
                targetFolder: '$(Build.SourcesDirectory)/typespec-msgraph/packages/typespec-reference-library/lib'
                overwrite: true
              displayName: Copy OpenAPI files to local typespec-msgraph repo
            # Push changes to Typespec msgraph repo
            - pwsh: '$(Build.SourcesDirectory)/msgraph-metadata/.azure-pipelines/scripts/git-push-reference-files.ps1'
              displayName: Publish new generated files to msgraph-metadata repo
              env:
                PublishChanges: True
              workingDirectory: '$(Build.SourcesDirectory)/typespec-msgraph'
              enabled: true
              
            # Create PR
            - task: AzureKeyVault@2
              displayName: "Azure Key Vault: Get Secrets"
              inputs:
                azureSubscription: "Federated AKV Managed Identity Connection"
                KeyVaultName: akv-prod-eastus
                SecretsFilter: "microsoft-graph-devx-bot-appid,microsoft-graph-devx-bot-privatekey"

            - pwsh: '$(Build.SourcesDirectory)/msgraph-metadata/.azure-pipelines/scripts/create-pull-request.ps1'
              displayName: 'Create Pull Request for the generated OpenAPI files for msgraph-metadata'
              env:
                BaseBranch: main
                GeneratePullRequest: true
                GhAppId: $(microsoft-graph-devx-bot-appid)
                GhAppKey: $(microsoft-graph-devx-bot-privatekey)
                OverrideSkipCI: false
                RepoName: 'microsoftgraph/typespec-msgraph'
                ScriptsDirectory: $(Build.SourcesDirectory)/msgraph-metadata/.azure-pipelines/scripts
                # Adding date as Version to keep up with the schema sync PRs.
                Date: '$(Date:yyyyMMdd)'
              workingDirectory: '$(Build.SourcesDirectory)/typespec-msgraph'
