name: OpenAPI Parser Validation for latest OpenAPI docs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  list-conversion-settings:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-conversion-settings.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-conversion-settings
        run: echo "::set-output name=matrix::$(ls conversion-settings/*.json | sed 's/.*\///' | sed 's/\.[^.]*$//' | jq -R -s -c 'split("\n")[:-1]')"

  build:
    needs: list-conversion-settings
    strategy:
      matrix:
        version: ["v1.0", "beta"]
        settings: ${{ fromJson(needs.list-conversion-settings.outputs.matrix) }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Setup .NET
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 7.0.x
    - name: Validate latest OpenAPI docs
      run: ./scripts/run-openapi-validation.ps1 -repoDirectory "${{ github.workspace }}" -version "${{ matrix.version }}" -platformName "${{ matrix.settings }}"
      shell: pwsh
